@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Great+Vibes&display=swap');


h1{
    font-family: 'Great Vibes', cursive;
}
h1>span{
    font-family: 'Lavishly Yours', cursive;
}

h2,h3,h4,h5,h6,p,li{
    font-family: 'Cutive', serif;
}
