@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://unpkg.com/aos@next/dist/aos.css');


h1{
    font-family: "Satisfy", cursive;
}
h1>span{
    font-family: 'Lavishly Yours', cursive;
}

h2,h3,h4,h5,h6,p,li{
    font-family: 'Cormorant Upright', serif;
}
